{namespace rf=Reomi\Football\ViewHelpers}

<f:if condition="{node.context.inBackend} || {node.properties.title} && {responseData} && {responseData.fixtures}">
{title -> f:format.raw()}
</f:if>
<f:if condition="{node.context.inBackend} || {node.properties.text} && {responseData} && {responseData.fixtures}">
    {text -> f:format.raw()}
</f:if>
<f:if condition="{responseData} && {responseData.fixtures}">
    <f:flashMessages />
    <ul>
    <f:for each="{responseData.fixtures}" as="match">
        <li>
            <div class="info">
            {match.homeTeamName} - {match.awayTeamName}
            <f:comment><f:if condition="{match.status} == 'IN_PLAY'">
                ({match.results.goalsHomeTeam} - {match.results.goalsAwayTeam}
            </f:if>
            </f:comment>
            -- <f:format.date format="Y-m-d H:i">{match.date}+2 hours</f:format.date>
            <br>
            </div>
            <rf:userPrediction fixture="{match.data.self}">
                <f:if condition="{bet}">
                    <f:then>
                        Your bet: {bet.properties.homePredict} - {bet.properties.awayPredict}
                    </f:then>
                    <f:else>
                        <f:form action="score" controller="Predict" package="Reomi.Football" method="POST" class="form-horizontal clearfix" additionalAttributes="{role:'form'}" arguments="{serialized: match.serialized}">
                            <div class="col s12">
                                <div class="form__section">
                                    <div class="form_row row">
                                        <div class="input-field col s12 m6 form__col">
                                            <label for="predict-form-home-predict" class="col-lg-4 control-label">Home:</label>
                                            <input name="homePredict" class="form-control" id="predict-form-home-predict" min="0" type="number" />
                                        </div>
                                        <div class="input-field col s12 m6 form__col">
                                            <label for="predict-form-away-predict" class="col-lg-4 control-label">Away:</label>
                                            <input name="awayPredict" class="form-control" id="predict-form-away-predict" min="0" type="number" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions col s12">
                                <div class="row">
                                    <div class="text text--align-center margin--top-60 margin--bottom-30">
                                        <f:form.submit value="{f:translate(package:'Reomi.Football', id:'predictScore.form.submit')}" class="button button--black button--background" />
                                    </div>
                                </div>
                            </div>
                        </f:form>
                    </f:else>
                </f:if>
            </rf:userPrediction>
        </li>
    </f:for>
    </ul>
</f:if>